@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    font-family: "Poppins", sans-serif;
}
.container{
    display: flex;
    justify-content: center;
}
.plan{
    position: relative;
    width: 480px;
    height: 260px;
    margin: 50px auto ;
    border-radius: 14px;
    /* border: 2px solid lightgray; */
}
.plan:first-child{
    margin-right: 30px;
}
.plan:last-child{
    margin-left:10px;
}
.plan-img{
    
    width: 100%;
    border-radius: 14px;
    height: 300px;
    object-fit: cover;
}
.contents{
    position: absolute;
    top: 0;
    padding: 8px 28px;
    color: white;
}
.contents h2{
    font-size: 20px;
    font-weight: 500;
    margin-top: -12px;
}
.contents h3{
    font-size: 14px;
    font-weight: 300;
}
.btn{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 4px;
    border-radius: 6px;
    border: none;

    margin: 0px 28px;
    margin-bottom: -14px;
    padding: 6px 10px;
}
.suggestions{
    width: 310px;
    border: 1px solid lightgray;
    border-radius: 14px;
    margin: 40px auto;
    display: flex;
}
.sug-1{
    width: 120px;
    height: 160px;
    object-fit: cover;
    border-radius: 24px;
    padding: 14px 10px;
}
.con1 h3{
    font-size: 16px;
    font-weight: 420;
    margin-top: 6px;
    margin-bottom: 6px;
}
.con1 p{
    font-size: 12px;
    margin-bottom: 14px;
}
.btn1{
    padding: 8px 12px;
    margin-right: 0;
    margin-bottom: 8px;
    border-radius: 7px;
    border: 1px solid rgb(136, 135, 135);
    color: black;
    background-color: white;
}
.sug-container{
    display: flex;
    justify-content: center;
}
.suggestions:first-child{
    margin-left: 185px;
}
.suggestions:last-child{
    margin-right: 185px;
}